<div class="as-search-wrapper" role="main">
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
                <div class="pd-billboard pd-category-header">
                    <div class="pd-l-plate-scale">
                        <div class="pd-billboard-background">
                            <img src="./assets/music-audio-alp-201709" alt="" width="1440" height="320"
                                data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306"
                                class="pd-billboard-hero ir">
                        </div>
                        <div class="pd-billboard-info">
                            <h1 class="pd-billboard-header pd-util-compact-small-18">Tienda Erick Aguilar </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">
        <div class="as-producttile-info detail-container"
            style="float: initial;margin:auto;margin-top:2rem;margin-bottom:2rem; width:45%!important;">
            <div class="as-producttile-titlepricewraper" style="min-height: 128px;">
                <div class="item">
                    <b>
                        <h2 style="color:rgb(224, 221, 0)">La compra no ha sido completada, el pago quedó pendiente</h2>
                    </b>

                </div>
                <div class="item">
                    <b>
                        <h2>payment_id</h2>
                    </b>
                    <h3 name="unit">{{paymentId}}</h3>
                </div>
                <div class="item">
                    <b>
                        <h2>payment_method_id</h2>
                    </b>
                    <h3 name="unit">{{paymentMethodId}}</h3>
                </div>
                <div class="item">
                    <b>
                        <h2>external_reference</h2>
                    </b>
                    <h3 name="unit">{{externalReference}}</h3>
                </div>
                <div class="item">
                    <b>
                        <h2>preference_id</h2>
                    </b>
                    <h3 name="unit">{{preferenceId}}</h3>
                </div>
            </div>

            <button onclick="window.location.href='https://erick-aguilar-ecommerce.herokuapp.com/'"
                class="mercadopago-button">Volver a la página principal</button>
        </div>
    </div>
</div>